body {
    font-family: Arial, sans-serif;
    margin: 20;
    margin-left: 300px;
    padding: 200px;
    background: url(./image/purple-neon.jpg);
}

.container {
    max-width: 600px;
    margin: auto;
    background: #ad3c3c;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #880000;
    border-radius: 4px;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    flex: 1; 
    margin-right: 130px; 
    margin-top: 5px;
    padding: 15px; 
    background-color: #6b3eb4; 
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:last-child {
    margin-right: 0;
}

button:hover {
    background-color: #5a2b8f; 
}

#display {
    margin-top: 10px;
    position: absolute;
    width: 250px; 
    padding: 70px; 
    background-color: #ffffff; 
    border-radius: 4px;
    color: #ffffff;
    background: url(./image/purple-neon.jpg);

}
